@charset "utf-8";
#AquaJPEG {
	padding-right: 2em;
	padding-bottom: 2em;
	float: left;
}
#AviaJPEG {
	padding-right: 50px;
	padding-bottom: 2em;
	float: left;
}
#CamerataJPEG {
	padding-bottom: 2em;
	float: left;
	padding-right: 3em;
}
#CelticJPEG {
	padding-right: 2em;
	padding-bottom: 2em;
	float: left;
}
#ddJPEG {
	padding-right: 2em;
	padding-bottom: 2em;
	float: left;
}
#HarbourJPEG {
	padding-right: 4em;
	padding-bottom: 2em;
	float: left;
}
#PomJPEG {
	padding-right: 4em;
	padding-bottom: 2em;
	float: left;
}
#RoseJPEG {
	padding-right: 4em;
	padding-bottom: 2em;
	float: left;
}
#TCB_JPEG {
	padding-right: 4em;
	padding-bottom: 2em;
	float: left;
}
#WassaJPEG {
	padding-right: 4em;
	padding-bottom: 2em;
	float: left;
}
#SNBB_JPEG {
	padding-right: 2em;
	padding-bottom: 2em;
	float: left;
}
a:link {
	text-decoration: none;
	color: #7A7A7A;
}
a:hover {
	color: #FF8207;
	text-decoration: underline;
}