@charset "utf-8";
body p a {
	text-decoration: underline;
	color: #D78529;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding-left: 5px;
}

body p a:hover {
	color: #E9B881;
}

